header {
    height: 100px;
    background-color:white
    (0, 195, 255)
}

h1 {
    float: left;
    margin-left: 40px;
    margin-top: 32px;
}

nav li {
    display: inline-block;
    width: 100px;
    float: right;
    margin-top: 45px;
}

#top-section img{
    max-width: 100%;

}

* {
    background-color:white
    (0, 195, 255);
}

img {
    margin: auto;
    display: block;
  }

.image-container {
width: 700px;
height: 225px;

  }

#image-container-img {
width: 100%;
height:100%;
}
function greet(name) {
    return "Hello, " + name;
  }
  greet("Grace Hopper");
